.mainChatSection{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    min-height: 100vh;
}

.usersSection{
  border-right: 1px solid darkgray;
}

.chatHeader{
  display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #292b2c;
    padding: 10px;
}

.UserAccount img{
  width: 45px; 
}

.iconsGroup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0px;
  text-align: right;
}

.chatSearchSection{
  padding: 10px;
  display: grid;
  grid-template-columns: 5% 95%;
  background-color: lightslategrey;
  border-bottom: 1px solid #4b3030
}

.chatSearchSection input{
  border: none;
  padding: 6px 10px;
  border-radius: 14px;
}

.chatSearchSection input:active{
  outline: none;
}

.chatSearchSection img{
  padding-top: 4px;
}

.chatsSection{
  background-image: url("assets/whatsappWeb.png");
}